



<div class="wrapper">
    <!--
        Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
    -->
   <app-header></app-header>

   <app-sidebar></app-sidebar>

    <div class="main-panel">

        @if(statusLogin() == 2){
            <router-outlet></router-outlet>
        }
        @if(statusLogin()==1){
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">    
                <h1 class="mt-5 text-center">Iniciando sesion</h1>
                <div class="spinner-border text-light"></div>
                </div>
                </div>
            </div>
        }
        

        
        
        
    </div>
    

</div>

