/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';


body {
    background-color: #ecf0f4 !important;
  }

  .page-inner{
    /* margin-top: 3rem;
  }
   */
  .main-panel>.content {
    margin-top: 40px;
  }
  
  .alert-danger {
    background: #fff;
    color: #f3545d !important;
    border-radius: 10px;
    border-left: 0px;
    font-size: 12px !important;
  }
  
  .alert-danger:hover {
    color: #f3545d !important;
    font-size: 12px !important;
  }
  